# .github/workflows/build-wheels.yml
name: Build Wheels

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install cibuildwheel
        run: pip install cibuildwheel 

      - name: Build wheels
        run: cibuildwheel --output-dir dist

      - uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist/*